<app-menu></app-menu>

<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton (click)="mostrarNombre()" type="button" label="Cabiar Nombre" icon="pi pi-spin pi-spinner"
  class="p-button-help" iconPos="right"></button>

<p-card header="Simple Card">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
  deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
  quas!
</p-card> -->